* {
    all: unset;
}

.bar {
    color: black;
    font-family: MesloLGS Nerd Font Propo;
    background-color: transparent;
}

progressbar > trough {
    min-width: 100px;
}

.status {
    background-color: black;
    border-radius: 5px;
    padding: 2px;

    .info {
        margin: 3px;
        padding: 4px;
        background-color: lightgray;
        border-radius: 3px;
    }

    .current {
        background-color: lightgreen;
    }

    .logo {
        color: lightblue;
        background-color: unset;
    }

    .battery {
        background-color: lightgreen;
    }

    .time {
        background-color: lightblue;
    }

    trough {
        margin: 7px;
        border-radius: 3px;
        progress {
            border-radius: 3px;
        }
    }

    .sound {
        background-color: lightblue;

        trough {
            background-color: lightskyblue;
            progress {
                background-color: deepskyblue;
                border-radius: 3px;
            }
        }
    }

    .muted {
        background-color: crimson;

        trough {
            background-color: darkred;
        }
    }

    .power {
        margin-left: 3px;
        .menu {
            margin-left: 0;
            margin-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background-color: gold;

            padding: 0;
            padding-left: 1px;
            button {
                margin-left: 4px;
                padding-right: 4px;
                border-right: 1px solid black;
            }
        }

        .icon {
            margin-left: 0;
            background-color: yellow;
        }

        .open {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
