@import "nord.scss"

* {
    all: unset;
}

.bar {
    color: $nord0;
    font-family: MesloLGS Nerd Font Propo;
    background-color: transparent;
}

progressbar > trough {
    min-width: 100px;
}

.status {
    background-color: $nord0;
    border-radius: 5px;
    padding: 2px;

    .info {
        margin: 3px;
        padding: 4px;
        border-radius: 3px;
        background-color: $nord3;
        color: $nord4;
    }

    .current {
        background-color: $nord7;
        color: $nord0;
    }

    .logo {
        color: $nord8;
        background-color: unset;
    }

    trough {
        margin: 7px;
        border-radius: 3px;
        progress {
            border-radius: 3px;
        }
    }

    .sound {
        color: $nord0;
        background-color: $nord8;

        trough {
            background-color: $nord9;
            progress {
                background-color: $nord10;
                border-radius: 3px;
            }
        }
    }

    .muted {
        color: $nord4;
        background-color: $nord3;

        trough {
            background-color: $nord0;
        }
    }

    .battery {
        color: $nord0;
        background-color: $nord14;
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .power {
        margin-left: 1px;
        .menu {
            color: $nord0;
            margin-left: 0;
            margin-right: 0;
            border-radius: 0;
            padding: 0;

            background-color: $nord8;

            button {
                padding-left: 4px;
                padding-right: 4px;
                border-right: 1px solid $nord0;
            }
        }

        .icon {
            color: $nord0;
            margin-left: 0;
            background-color: $nord9;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
